/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;  
    position: relative;     
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}
/* general styling ends here */

/* ---navbar styling starts here-- */

.navbar{
    padding: 2rem;
    font-family: "Poppins", serif;     
    font-weight: 400;
    font-style: normal;
    /* background-color: #0071DC; */
    color:#0071DC ;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;

}

.navbar i{
    color: #FFC220;
}

.navbar a{
    color: #0071DC;
}

.navbar ul{
    list-style: none ;
    display: flex;
    gap: 2rem;
}
nav.flex{
    justify-content: space-between;
}

.nav-about{
    gap: 2rem;
}
/* ---navbar styling ends here-- */

/* .site-description sections */
.site-description{
    background-color: #00569B;
    
}

.slogan{
    padding: 7rem 4rem;
    max-width: 900px;
}

.slogan h2 {
    font-size: 5rem;
    color: #FFC220;
    line-height: 1;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}

.slogan h3{
    font-size: 1.7rem;
    font-family:lora ;
    font-weight: 250;
    color: white;
    margin-top: 2rem;
}

.site-btn{
    margin-top:3rem ;
    
}

.site-btn button{
    padding:0.8rem 2rem;
    font-size: 1rem;
    border-radius:30px;
    border: none;
    display: block;
    color: #0071DC;
    font-weight: 500;
}
/* site-description sections */


